{% extends "base.html" %}

{% block title %}Home - CV Builder{% endblock %}

{% block head %}
  {{ super() }}
  <style>

    .bg-image {
      position: relative;
      height: 100vh;
      overflow: hidden;
    }

    .bg-image::before {
      content: "";
      background-image: url('{{ url_for('static', filename='bg.png') }}');
      background-size: cover;
      background-position: center;
      filter: blur(10px); /* Adjust the blur value as desired */
      position: absolute;
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      z-index: -1;
    }

    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .btn-small {
      width: 30%;
      margin-top: 1rem;
    }
     .text-center {
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="bg-image">
    <div class="container center">
      <h1 class="text-white" id="welcome-text">Welcome to the free CV Builder!</h1>
      <a href="#" class="btn btn-primary" id="start-button">Try build your CV with AI help</a>

      <!-- Hidden elements -->
      <div id="job-title" style="display: none;">
        <h2 class="text-white" id="welcome-text">Enter your professional title</h2>
         <div class="text-center">
             <form action="{{ url_for('views.process_job_title') }}" method="post">
              <input type="text" class="form-control" name="job_title" placeholder="Job title">
              <button type="submit" class="btn btn-primary btn-small">Next</button>
            </form>
         </div>
      </div>
    </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('start-button').addEventListener('click', function(event) {
      event.preventDefault();

      // Hide the welcome text and start button
      document.getElementById('welcome-text').style.display = 'none';
      document.getElementById('start-button').style.display = 'none';

      // Show the job title input
      document.getElementById('job-title').style.display = 'block';
    });
  </script>
{% endblock %}
